.sidebar {
  border-right: 1px solid var(--maritter-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__maritterIcon {
  color: var(--maritter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-top: 20px;
}

.sidebar__tweet {
  background-color: var(--maritter-color) !important;
  color: white !important;
  font-weight: 900 !important;
  border: none !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 20px !important;
}
